[submodule "gazebo_sensor_collection"]
	path = gazebo_sensor_collection
	url = git@github.com:SuperJappie08/gazebo_sensor_collection.git
[submodule "mirte-gazebo"]
	path = mirte-gazebo
	url = git@github.com:ArendJan/mirte-gazebo.git
	branch = rsp
[submodule "ridgeback"]
	path = ridgeback
	url = git@github.com:ArendJan/ridgeback.git
