<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="wheel_gazebo" params="name">
        <gazebo reference="${name}">
            <!-- <selfCollide>false</selfCollide> -->
            <gravity>true</gravity>
            <mu1>2.5</mu1>
            <mu2>2.5</mu2>
            <!-- <kp>1e15</kp> --> <!-- <kp>1e2</kp> -->
            <!-- <kd>1e13</kd> --> <!-- <kd>1e50</kd> -->
            <material>Gazebo/DarkGrey</material>
        </gazebo>
    </xacro:macro>
</robot>