<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mirte_master">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00127942588707535 0.0151241102447173 -0.00985810717289011"
        rpy="0 0 0" />
      <mass
        value="1.67774926625852" />
      <inertia
        ixx="0.00906343835306296"
        ixy="8.45553301983081E-07"
        ixz="-3.93751691212787E-06"
        iyy="0.0137382930141301"
        iyz="0.000240421022548359"
        izz="0.0076615986898399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.443137254901961 0.0313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel_link">
    <inertial>
      <origin
        xyz="0.030103 0.034202 0.03996"
        rpy="0 0 0" />
      <mass
        value="0.26661" />
      <inertia
        ixx="8.0546E-05"
        ixy="2.8056E-15"
        ixz="1.0884E-14"
        iyy="8.0546E-05"
        iyz="1.1213E-14"
        izz="9.3196E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/front_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/front_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="fixed">
    <origin
      xyz="0.16802 -0.050672 -0.07546"
      rpy="1.5708 0.13151 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_right_wheel_link">
    <inertial>
      <origin
        xyz="0.030103 0.034202 0.03996"
        rpy="0 0 0" />
      <mass
        value="0.26661" />
      <inertia
        ixx="8.0546E-05"
        ixy="-5.0529E-15"
        ixz="7.75E-14"
        iyy="8.0546E-05"
        iyz="-1.4708E-15"
        izz="9.3196E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/front_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/front_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="fixed">
    <origin
      xyz="-0.087976 -0.060085 -0.083647"
      rpy="1.5708 -0.14316 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_right_wheel_link">
    <inertial>
      <origin
        xyz="0.030103 0.034202 0.03996"
        rpy="0 0 0" />
      <mass
        value="0.26661" />
      <inertia
        ixx="8.0546E-05"
        ixy="1.1771E-15"
        ixz="9.8191E-15"
        iyy="8.0546E-05"
        iyz="1.9298E-14"
        izz="9.3196E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_wheel_joint"
    type="fixed">
    <origin
      xyz="-0.087976 0.11997 -0.074702"
      rpy="1.5708 0.15337 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="rear_right_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_left_wheel_link">
    <inertial>
      <origin
        xyz="0.0301029400755673 0.034202366229229 0.039960226040592"
        rpy="0 0 0" />
      <mass
        value="0.266614983226052" />
      <inertia
        ixx="8.05457942742895E-05"
        ixy="-5.04132749678783E-15"
        ixz="7.74862268226729E-14"
        iyy="8.05457942724331E-05"
        iyz="-1.47689691197136E-15"
        izz="9.31956038947576E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_wheel_joint"
    type="fixed">
    <origin
      xyz="0.16802 0.10992 -0.083647"
      rpy="1.5708 -0.14316 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="rear_left_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.0013219 -0.00039201 -0.022261"
        rpy="0 0 0" />
      <mass
        value="0.18813" />
      <inertia
        ixx="6.9146E-05"
        ixy="2.5433E-06"
        ixz="1.9137E-05"
        iyy="0.00044907"
        iyz="-4.2726E-06"
        izz="0.0004083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0 -0.14666 0.0427"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-3.97749846947626E-10 -0.0183461608911809 -9.54386087724353E-05"
        rpy="0 0 0" />
      <mass
        value="0.100511981883415" />
      <inertia
        ixx="3.39518063996325E-05"
        ixy="-1.6211120950128E-12"
        ixz="-2.92284267119986E-13"
        iyy="4.1935853096105E-05"
        iyz="1.1815579647801E-07"
        izz="3.44778101670497E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0 -0.1005 -0.023"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fron_left_ultrasone_link">
    <inertial>
      <origin
        xyz="-4.3073E-05 0.0036756 -6.9914E-05"
        rpy="0 0 0" />
      <mass
        value="0.0038351" />
      <inertia
        ixx="1.5937E-07"
        ixy="-8.5425E-10"
        ixz="-3.4091E-09"
        iyy="7.6875E-07"
        iyz="2.6506E-09"
        izz="7.2622E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/fron_left_ultrasone_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/fron_left_ultrasone_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fron_left_ultrasone_joint"
    type="fixed">
    <origin
      xyz="0.052978 -0.12028 -0.031"
      rpy="3.1416 0 0.29671" />
    <parent
      link="base_link" />
    <child
      link="fron_left_ultrasone_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fron_right_ultrasone_link">
    <inertial>
      <origin
        xyz="-4.30733527063132E-05 0.00367564883489799 -6.9913657863175E-05"
        rpy="0 0 0" />
      <mass
        value="0.00383513951999245" />
      <inertia
        ixx="1.59365628586767E-07"
        ixy="-8.54250314742421E-10"
        ixz="-3.40905422018178E-09"
        iyy="7.6875152346034E-07"
        iyz="2.65062440645525E-09"
        izz="7.26221149125632E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/fron_right_ultrasone_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/fron_right_ultrasone_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fron_right_ultrasone_joint"
    type="fixed">
    <origin
      xyz="-0.052978 -0.12028 -0.031"
      rpy="3.1416 0 -0.29671" />
    <parent
      link="base_link" />
    <child
      link="fron_right_ultrasone_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_left_ultrasone_link">
    <inertial>
      <origin
        xyz="-4.3073E-05 0.0036756 -6.9914E-05"
        rpy="0 0 0" />
      <mass
        value="0.0038351" />
      <inertia
        ixx="1.5937E-07"
        ixy="-8.5425E-10"
        ixz="-3.4091E-09"
        iyy="7.6875E-07"
        iyz="2.6506E-09"
        izz="7.2622E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_left_ultrasone_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_left_ultrasone_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_ultrasone_joint"
    type="fixed">
    <origin
      xyz="0.056561 0.11919 -0.031"
      rpy="3.1416 0 2.8449" />
    <parent
      link="base_link" />
    <child
      link="rear_left_ultrasone_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_right_ultrasone_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_right_ultrasone_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_simulator/meshes/rear_right_ultrasone_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_ultrasone_joint"
    type="fixed">
    <origin
      xyz="-0.0565606470918482 0.119187021096338 -0.031"
      rpy="3.14159265358979 0 -2.84488668075076" />
    <parent
      link="base_link" />
    <child
      link="rear_right_ultrasone_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>