<launch>
  <arg name="flag_enable" default="False" />
  <arg name="arm_enable" default="False" />
  <arg name="screen_enable" default="False" />
  <arg name="front_camera_enable" default="False" />
  <arg name="sonar_enable" default="True" />
  <arg name="lidar_enable" default="True" />
  <arg name="depth_camera_enable" default="True" />

  <include file="$(find mirte_master_description)/launch/description.launch">
    <arg name="flag_enable" value="$(arg flag_enable)" />
    <arg name="arm_enable" value="$(arg arm_enable)" />
    <arg name="screen_enable" value="$(arg screen_enable)" />
    <arg name="front_camera_enable" value="$(arg front_camera_enable)" />
    <arg name="sonar_enable" value="$(arg sonar_enable)" />
    <arg name="lidar_enable" value="$(arg lidar_enable)" />
    <arg name="depth_camera_enable" value="$(arg depth_camera_enable)" />
  </include>

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mirte_master_description)/config/display.rviz" />
</launch>
