<launch>
  <arg name="paused" default="False" />
  <arg name="gui" default="True" />
  <arg name="world_name" default="$(find gazebo_ros)/worlds/empty_world.world" />

  <arg name="flag_enable" default="False" />
  <arg name="arm_enable" default="False" />
  <arg name="screen_enable" default="False" />
  <arg name="front_camera_enable" default="False" />
  <arg name="sonar_enable" default="True" />
  <arg name="lidar_enable" default="True" />
  <arg name="depth_camera_enable" default="True" />
  <arg name="imu_enable" default="True" />

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <include file="$(find mirte_master_description)/launch/spawn_mirte_master.launch">
    <arg name="flag_enable" value="$(arg flag_enable)" />
    <arg name="arm_enable" value="$(arg arm_enable)" />
    <arg name="screen_enable" value="$(arg screen_enable)" />
    <arg name="front_camera_enable" value="$(arg front_camera_enable)" />
    <arg name="sonar_enable" value="$(arg sonar_enable)" />
    <arg name="lidar_enable" value="$(arg lidar_enable)" />
    <arg name="depth_camera_enable" value="$(arg depth_camera_enable)" />
    <arg name="imu_enable" value="$(arg imu_enable)" />
  </include>
</launch>