<launch>
    <arg name="name" default="mirte_master" /> <!-- Use '$(anon mirte_master)' for anonomized
    names-->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="1" />
    <arg name="yaw" default="0" />

    <include file="$(find mirte_master_description)/launch/description.launch">
        <!-- TODO: Make the model flexible (disable enable sensors) -->
    </include>

    <!-- Spawn Mirte Master -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model $(arg name) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

    <include file="$(find gazebo_mecanum_plugins)/launch/gazebo_mecanum_pid.launch"></include>
</launch>